%h1 Listing products

= form_tag products_path, :method => :get do
	= search_field_tag 'q', params[:q]
	= submit_tag 'Buscar'

%h2 Anunciados

= render :partial => "product", :collection => @products

%h2 No ML

= render :partial => "ml_product", :collection => @ml_products